{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="profile-login">
    <div class="profile-register_form">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1 class="mb-3">Connexion</h1>
            <h6>Nouveau ? <a href="{{ path('app_register') }}"> S'inscrire</a></h6>
            <br>
            <label for="inputEmail" class="profile-login-email_label">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control profile-login-email_input" placeholder="Saisissez votre email" required autofocus>
            <label for="inputPassword" class="profile-login-password_label">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" placeholder="Saisissez votre mot de passe" class="form-control profile-login-password_input" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}
        
        <button class="btn btn-lg btn-primary profile-login-submit_input" type="submit">Se Connecter</button><a href="{{ path('app_forgot_password_request') }}" class="btn btn-lg btn-danger profile-login-reset-password_input">Mot de passe oublié</a> 
        </form>
    </div>
</div>

{% endblock %}
