{% extends 'base.html.twig' %}

{% block title %}S'enregistrer - La Fringuerie Française{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="profile-register">
    <div class="profile-register_form">
        <h1>Créer un compte</h1>
        <h6>Déjà client ? <a href="{{ path('app_login') }}"> Se connecter</a></h6>
        <br>
        {{ form_start(registrationForm, { 'attr': {'class': 'registration-form'} }) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
            <button type="submit" class="btn btn-lg btn-primary profile-register-submit_input">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
