<div class="top-header" id="#top">
    <div class="base-title">
        <h1 class="top-header_title"><span class="blue-span">La</span> <span class="white-span">Fringuerie</span> <span class="red-span">Française</span></h1>
        <h3 class="top-header_main-title">Site en construction (MAJ le 07/03/2021)</h3>
        {% if app.user %}
        <h6>Bonjour, {{app.user.firstname }}</h6>
        {% endif %}
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <div class="left-container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('products_liste') }}">Produits</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Catégories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for c in categories %}
                <li><a class="dropdown-item" href="{{ path('categories_details', {'id' : c.id} ) }}">{{ c.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Marques
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                {% for m in marques %}
                <li><a class="dropdown-item" href="{{ path('marques_details', {'id' : m.id} ) }}">{{ m.name }}</a></li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="middle-container">
        <ul>
          <li>
            {{ form_start(formSearch, {attr: {class: 'search_form'}}) }}
            {{ form_row(formSearch.search, {attr: {class: 'filter-search_input'}}) }}  <!-- on personnalise le design du formulaire 'search' étant la variable de la barre de recherche -->
            {{ form_end(formSearch) }}
          </li>
        </ul>
      </div>
      <div class="right-container">
        <ul>
          {% if app.user %} 
            <li class="nav-item">
              <a data-toggle="tooltip" data-placement="bottom" title="Mon Profil" class="nav-link" aria-current="page" href="{{ path('app_user') }}"><i class="fas fa-users-cog"></i> {{ app.user.firstname }}</a>
            </li>
            <li class="nav-link" style="color: lightgoldenrodyellow;">|</li>
            <li class="nav-item">
              <a data-toggle="tooltip" data-placement="bottom" title="Mon panier" class="nav-link" aria-current="page" href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i> Mon Panier</a>
            </li> 
            <li class="nav-link" style="color: lightgoldenrodyellow;">|</li>
            <li class="nav-item">
              <a data-toggle="tooltip" data-placement="bottom" title="Se déconnecter" class="nav-link" aria-current="page" href="{{ path('app_logout') }}"><i class="fas fa-user-times"></i> Se déconnecter</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a data-toggle="tooltip" data-placement="bottom" title="Se connecter" class="nav-link" aria-current="page" href="{{ path('app_login') }}"><i class="fas fa-user"></i> Se connecter</a>
            </li>
            <li class="nav-link" style="color: lightgoldenrodyellow;">|</li>
            <li class="nav-item">
            <a data-toggle="tooltip" data-placement="bottom" title="S'inscrire" class="nav-link" aria-current="page" href="{{ path('app_register') }}"><i class="fas fa-user"></i> S'inscrire</a>
            </li>
            <li class="nav-link" style="color: lightgoldenrodyellow;">|</li>
            <li class="nav-item">
              <a data-toggle="tooltip" data-placement="bottom" title="Mon panier" class="nav-link" aria-current="page" href="{{ path('cart') }}"><i class="fas fa-shopping-cart"></i> Mon Panier</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
</nav>