<div class="small-cards">
    <div class="card">
        <a href="{{ path('products_detail', {'id': associatedProducts.id} ) }}"><img src="{{ asset('images/' ~ associatedProducts.pictureurl) }}" alt="image du produit, correspondant à une photo de {{ associatedProducts.pictureurl }}" class="card-img-top"></a>
        <div class="card-body">
            <a href="{{ path('products_detail', {'id': associatedProducts.id} ) }}"><h5 class="card-title card-name">{{ associatedProducts.name }}</h5></a>
            <p class="text card-text">{{ associatedProducts.subtitle }}</p>
            <div class="card-title card-price_number">
                {{ associatedProducts.price | number_format(2, ',', ' ') }} €
            </div>
        </div>
    </div>
</div>
