{% extends 'base.html.twig' %}
{% block title %}
    {% for detail in categoryById %}
       {{detail.name}} - La Fringuerie Française
    {% endfor%}
{% endblock %}
{% block body %}
    {% for category in categoryById %}
        <div class="card-product-detail">
            <div class="card col-11 col-sm-9">
                <!-- pour chacune des catégories dans product.category, je veux que tu m'affiches ... -->
                <img src="{{ asset('images/' ~ category.pictureurl) }}" alt="image de la catégorie, correspondant à une photo de {{ category.pictureurl }}" class="card-product-detail-img-top">
                <div class="card-body">
                    <h5 class="card-title card-name">{{ category.name }}</h5>
                    <p class="text card-text">{{ category.description }}</p>
                    <hr>
                    <h6>Nombre de produits associés à la catégorie :</h6>
                    <hr>
                    <h6>Découvrez quelques produits associés à la catégorie :</h6>
                    <div class="associated-products">
                        {% for associatedProducts in associatedProducts %}
                            {% include 'category/_small-cards.html.twig' with {associatedProducts: associatedProducts, categories : categories} only %}
                        {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
