{% extends 'base.html.twig' %}

{% block title %}
{% for product in productById %}
    {{product.name}} - La Fringuerie Française
{% endfor%}
{% endblock %}
{% block body %}
    {% for product in productById %}
        <div class="card-product-detail">
            <div class="card col-11 col-sm-6">
                <!-- pour chacune des catégories dans product.categories, je veux que tu m'affiches ... -->
                <img src="{{ asset('images/' ~ product.pictureurl) }}" alt="Image d'un produit, correspondant à la catégorie : {{ product.pictureurl }}" class="card-product-detail-img-top">
                <div class="card-body">
                    <h5 class="card-title card-name">{{ product.name }}</h5>
                    <div class="card-price">
                        {% if product.promo %}
                        <div class="text text-warning card-promo_text col-md-6">En promotion !</div>
                        {% endif %}
                        <div class="card-title card-price_number col-md-6">
                            {{ product.price | number_format(0, ',', ' ') }} €
                        </div>
                    </div>
                    <h6>En quelques mots :</h6>
                    <p class="text">{{ product.description }}</p>
                    <hr>
                    <h6>Description complète du produit : </h6>
                    <p>{{ product.content }}</p>
                    <hr>
                    <h6 class="card-title">En savoir plus sur la catégorie : 
                    </h6>
                    <a href="{{ path('categories_details', {id: product.category.id} ) }}"><i class="fas fa-arrow-circle-right"></i> #{{ product.category }}
                    </a>
                    <hr>
                    <h6 class="text">Découvrir d'autres produits associés à la catégories {{ product.category }} :</h6>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}