{% extends 'base.html.twig' %}
{% block title %}
    {% for detail in marqueById %}
       {{detail.name}} - La Fringuerie Française
    {% endfor%}
{% endblock %}

{% block body %}
    {% for marque in marqueById %}
        <div class="card-product-detail">
            <div class="card col-11 col-sm-10">
                <!-- pour chacune des catégories dans product.category, je veux que tu m'affiches ... -->
                <img src="{{asset('images/Marques/' ~ marque.pictureurl) }}" alt="image de la marque, correspondant à une photo de #" class="card-product-detail-img-top">
                <div class="card-body">
                    <h5 class="card-title card-name">{{ marque.name }}</h5>
                    <h6>En quelques mots : </h6>
                    <p class="text"> {{ marque.description }}</p>
                    <hr>
                    <h6>Nombre de produits associés à la marque :</h6>
                    <hr>
                    <div>
                        <h6>Découvrir des produits associés à la marque {{ marque.name }} :</h6>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
