{% extends 'base.html.twig' %}
{% block title %}
    {% for detail in marqueById %}
       Online~Shop {{detail.name}}
    {% endfor%}
{% endblock %}

{% block body %}
    {% for marque in marqueById %}
        <div class="card-product-detail">
            <div class="card col-11 col-sm-10">
                <!-- pour chacune des catégories dans product.categories, je veux que tu m'affiches ... -->
                <img src="#" alt="image de la marque, correspondant à une photo de #" class="card-product-detail-img-top">
                <div class="card-body">
                    <h5 class="card-title card-name">{{ marque.name }}</h5>
                    <h6>En quelques mots : </h6>
                    <p class="text card-text">marque.description</p>
                    <hr>
                    <div>
                        <p class="text card-text">Découvrir des produits associés à la marque {{ marque.name }} :</p>
                        <p><small>Nombre de produits associés à la marque :</small></p>
                    </div>
                    <hr>
                    <li class="nav-item dropdown" style="list-style: none; display: flex;">
                        Le site contient {{ countMarques }} <a class="nav-link dropdown-toggle" style="padding: 0; margin-left: 5px;" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                marques
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        {% for m in marques %}
                        <li><a class="dropdown-item" href="{{ path('marques_details', {'id' : m.id} ) }}">{{ m.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                </div>
            </div>
        </div>
        {% endfor %}
{% endblock %}
