{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur - La Fringuerie Française{% endblock %}
{% block body %}
<div class="profile">
    <h3 class="profile_title">Bienvenue {{ app.user.firstname }}, voici votre espace personnel</h3>
    <h5>Mes informations générales :</h5>
    <ul class="profile-ul">
        <li class="profile-ul_li">
            Nom : {{app.user.lastname}}
        </li>
        <li class="profile-ul_li">
            Prénom : {{app.user.firstname}}
        </li>
        <li class="profile-ul_li">
            Email : {{app.user.email}}
        </li>
        <li class="profile-ul_li">
            Mot de passe : <a href="{{ path('app_forgot_password_request') }}">Modifier mon mot de passe</a>
        </li>
    </ul>
    <h5><a href="{{ path('user_address') }}">Gérer mon carnet d'adresse</a></h5>
</div>
{% endblock %}
