{% extends 'base.html.twig' %}

{% block title %}Espace utilisateur{% endblock %}
{% block body %}
<div>
    <h3>Profil de {{ app.user.firstname }} {{app.user.lastname}}</h3>
    <h5>Mes informations générales :</h5>
    <ul>
        <li>
            Nom : {{app.user.lastname}}
        </li>
        <li>
            Prénom : {{app.user.firstname}}
        </li>
        <li>
            Email : {{app.user.email}}
        </li>
        <li>
            Mot de passe : <a href="{{ path('app_forgot_password_request') }}">Modifier mon mot de passe</a>
        </li>
        <li>
            Numéro de téléphone : {{app.user.phonenumber}}
        </li>
    </ul>
    <hr>
    <h5>Mon adresse de livraison :</h5>
    <ul>
        <li>
            Numéro de voie : {{app.user.roadnumber}}
        </li>
        <li>
            Nom de la voie : {{app.user.road}}
        </li>
        <li>
            Code postal: {{app.user.postalcode}}
        </li>
        <li>
            Ville : {{app.user.city}}
        </li>
    </ul>
    <hr>
    <h5>Mon adresse de facturation :</h5>
    <ul>
        <li>
            Adresse de facturation : {{app.user.receiptaddress}}
        </li>
    </ul>
</div>
<div>
    <a href="{{ path('app_user_modify_account') }}">Modifier le profil</a>
</div>
{% endblock %}
